

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.box>form{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding:20px 10px;
    box-shadow: 0 5px 10px #ccc;
    gap:10px;
}

form input {
    padding: 10px;
    /* border:none; */
    outline: none;
    background-color: #fcfcfc;
    color:black;
}


.box a{
    text-decoration: none;
}